<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>実務課題03</title>

    <style>
        th {
            background-color: lightblue;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="app">
        <table id="data-table">
            <thead>
                <tr>
                    <th @click="sortTable('id')">ID</th>
                    <th @click="sortTable('name')">名前</th>
                    <th @click="sortTable('company')">会社名</th>
                    <th @click="sortTable('division')">部署</th>
                    <th @click="sortTable('title')">役職</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in sortedData" :key="entry.id">
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.company }}</td>
                    <td>{{ entry.division }}</td>
                    <td>{{ entry.title }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <h2>新規情報追加</h2>
            <label for="newName">名前:</label>
            <input type="text" id="newName" v-model="newEntry.name"><br>

            <label for="newCompany">会社名:</label>
            <input type="text" id="newCompany" v-model="newEntry.company"><br>

            <label for="newDivision">部署:</label>
            <input type="text" id="newDivision" v-model="newEntry.division"><br>

            <label for="newTitle">役職:</label>
            <input type="text" id="newTitle" v-model="newEntry.title"><br>

            <button @click="addNewEntry">作成</button>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>

</html>